.container {
  width: 70%;
  margin: 5%;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 5%;
}

.click-me{
  background-color: tomato; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  margin: 5% auto 5% auto;
  font-family: 'Indie Flower', cursive;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 5px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

#footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
